h1,
h2 {
  font-family: 'Courier New', Courier, monospace;
  line-height: normal;
  /*text-align: center;*/
}

body {
  line-height: 14px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-left: 15px;
  display: inline-block;
  padding: 5px 15px;
  transform: translate(0, -3px);
}
